.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__tMrOs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tMrOs {
    display: flex;
    flex-direction: column;
  }
}
.leftColumn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 800px;
  background: #ffffff;
  min-height: 1253px;
  padding: 85px 25px 0px 85px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .leftColumn {
    min-width: auto;
    height: 100%;
    min-height: 0;
    padding: 0px;
  }
}
.logo2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 190px;
  margin: 0px 0px 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo2:global(.__wab_instance) {
    margin-left: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
.rightColumnMobileOnly {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fafafa;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 30px;
  min-width: 0;
  padding: 15px;
}
.freeBox___0Lmgh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.image14:global(.__wab_instance) {
  max-width: 100%;
  width: 121px;
  margin-right: 15px;
  flex-shrink: 0;
}
.freeBox__l2GY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text74:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
  margin: 0px 0px 10px;
}
.text84:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___4N7BK {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 1px;
  max-width: 100%;
  margin-top: 30px;
  background: #000000;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.iconValue12 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  min-width: 0;
  padding: 0px;
}
.freeBox___36Dju {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.image23:global(.__wab_instance) {
  max-width: 100%;
  width: 40px;
  flex-shrink: 0;
  margin: 0px 15px 0px 0px;
}
.text93:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__iXaAo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  min-width: 0;
  padding: 0px;
}
.image33:global(.__wab_instance) {
  max-width: 100%;
  width: 40px;
  flex-shrink: 0;
  margin: 0px 15px 0px 0px;
}
.text103:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__jSx0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  min-width: 0;
  padding: 0px;
}
.image43:global(.__wab_instance) {
  max-width: 100%;
  width: 40px;
  flex-shrink: 0;
  margin: 0px 15px 0px 0px;
}
.text113:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__gyek6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: #000000;
  margin-top: 30px;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.text14:global(.__wab_instance) {
  position: relative;
  width: auto;
  min-width: 520px;
  margin: 0px 0px 75px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text14:global(.__wab_instance) {
    min-width: auto;
    display: none;
  }
}
.text23:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  min-width: 520px;
  margin: 0px 0px 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text23:global(.__wab_instance) {
    min-width: auto;
    margin-left: 15px;
  }
}
.text32:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  min-width: 520px;
  margin: 0px 0px 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text32:global(.__wab_instance) {
    min-width: auto;
    margin-left: 15px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 470px;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .form {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.input3 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 60px;
  max-width: 100%;
  margin-bottom: 20px;
  align-self: auto;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 11px 8px 8px 15px;
}
.input1 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 60px;
  max-width: 100%;
  margin-bottom: 20px;
  align-self: auto;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 11px 8px 8px 15px;
}
.input2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 60px;
  max-width: 100%;
  margin-bottom: 20px;
  align-self: auto;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 11px 8px 8px 15px;
}
.button {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  max-width: 100%;
  background: var(--token-PtNKARts11NZS-C);
  cursor: pointer;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 8px;
}
.text6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-weight: 600;
  display: none;
}
.text24:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text24:global(.__wab_instance) {
    min-width: auto;
    margin-left: 0px;
  }
}
.terms {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  background: none;
  width: 470px;
  margin-bottom: 25px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .terms {
    padding-top: 0px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 0;
  }
}
.spacer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 519px;
  height: 1px;
  max-width: 100%;
  margin-top: 35px;
  background: #b3b3b3;
  flex-shrink: 0;
  padding: 0px;
}
.disclaimer5 {
  position: relative;
  width: 470px;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
  font-size: 11px;
}
.step2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
}
.text15:global(.__wab_instance) {
  position: relative;
  width: auto;
  min-width: 520px;
  margin: 0px 0px 75px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text15:global(.__wab_instance) {
    min-width: auto;
    display: none;
  }
}
.text25:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  min-width: 520px;
  margin: 0px 0px 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text25:global(.__wab_instance) {
    min-width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}
.text33:global(.__wab_instance) {
  max-width: 520px;
  position: relative;
  width: auto;
  min-width: 520px;
  margin: 0px 0px 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text33:global(.__wab_instance) {
    min-width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}
.freeBox__bd3Wk {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  max-width: 470px;
  background: var(--token-PtNKARts11NZS-C);
  margin-bottom: 15px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bd3Wk {
    max-width: 70%;
    margin: 0px 15px 15px;
  }
}
.text62 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-weight: 600;
  display: none;
}
.text26:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text26:global(.__wab_instance) {
    min-width: auto;
    margin-left: 0px;
  }
}
.scheduler:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 800px;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .scheduler:global(.__wab_instance) {
    height: 1400px;
    flex-shrink: 0;
  }
}
.rightColumnDesktopOnly {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #fafafa;
  min-height: 1253px;
  min-width: 0;
  padding: 85px 85px 0px 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rightColumnDesktopOnly {
    display: none;
  }
}
.freeBox__eh3UQ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.image13:global(.__wab_instance) {
  max-width: 100%;
  width: 121px;
  margin-right: 15px;
  flex-shrink: 0;
}
.freeBox__xHhCd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text73:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
  margin: 0px 0px 10px;
}
.text83:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__euTF {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 1px;
  max-width: 100%;
  margin-top: 30px;
  background: #000000;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.iconValue11 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  min-width: 0;
  padding: 0px;
}
.freeBox__nOLw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.image22:global(.__wab_instance) {
  max-width: 100%;
  width: 40px;
  flex-shrink: 0;
  margin: 0px 15px 0px 0px;
}
.text92:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__rzQnM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  min-width: 0;
  padding: 0px;
}
.image32:global(.__wab_instance) {
  max-width: 100%;
  width: 40px;
  flex-shrink: 0;
  margin: 0px 15px 0px 0px;
}
.text102:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__uL9SM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  min-width: 0;
  padding: 0px;
}
.image42:global(.__wab_instance) {
  max-width: 100%;
  width: 40px;
  flex-shrink: 0;
  margin: 0px 15px 0px 0px;
}
.text112:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___91Bf6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: #000000;
  margin-top: 30px;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.metaPixel:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
